.container.movy-details
  .row
    .col-lg-3.col-md-4.col-sm-12
      .movy-poster
        img.img-fluid(ng-src="{{ $ctrl.movie.poster_url }}" title="{{ $ctrl.movie.title }}")

    .col-lg-7.col-md-8.col-sm-12
        .movy-infos
          .movy-info
            span.movy-label= "Title: "
            span(title="{{ $ctrl.movie.title }}")
              | {{ $ctrl.movie.title }}

          .movy-info(ng-show="$ctrl.movie.genres.length > 0")
            span.movy-label= "Genres: "
            span
              | {{ $ctrl.formatGenres() }}

          .movy-info
            span.movy-label= "Release Date: "
            span(title="{{ $ctrl.movie.release_date }}")
              | {{ $ctrl.movie.release_date }}

          .movy-info
            span.movy-label= "Overview: "
            div
              | {{ $ctrl.movie.overview }}
