.pure-g
  .pure-u-3-4
    .movy-content(ng-controller="movyList")
      .pure-g
        .pure-u-1
          include movy-tools

      .pure-g
        .pure-u-1
          include movy-list.pug

  .pure-u-1-4
    movy-search
