.row
  .col-lg-9.col-md-12(ng-controller="movyList")
    .row
      .col-md-12
        .movy-filter
          include movy-tools

    .row
      .col-md-12
        include movy-list.pug

    .row
      .col-md-12
        include movy-pager

  .col-lg-3.hidden-md-down
    movy-search
