.row
  .col-md-9.col-sm-12(ng-controller="movyList")
    .row
      .col-md-12
        .movy-filter
          include movy-tools

    .row
      .col-md-12
        include movy-list.pug

    .row
      .col-md-12
        include movy-pager

  .col-md-3.hidden-sm-down
    movy-search
