#menu.pure-menu.pure-menu-horizontal
  span.pure-menu-heading= "Movy"
  ul.pure-menu-list
    li.pure-menu-item
      a.pure-menu-link(href="#")
        = "Movies"

  a(href="/logout")
    = "Logout"
