.alert {
    border: 1px solid;
    border-radius: 5px;

    padding: 10px;
}

.alert-info {
    @extend .alert;

    color: $alert-info-color;
    background-color: $alert-info-bg-color;
    border-color: $alert-info-border-color;
}

.alert-error {
    @extend .alert;

    color: $alert-error-color;
    background-color: $alert-error-bg-color;
    border-color: $alert-error-border-color;
}
