@import 'variables';
@import 'mixins';

html,
body {
    background-color: $main-background-color;
    color: $main-text-color;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
