.movy-search {
    padding: $main-padding;

	.movy-search-form {
		margin-bottom: $main-margin;

        .movy-clear {
            @extend .movy-control;
        }
	}

    .movy-search-results {
        box-shadow: 0px 0px 20px 5px $grey;
        height: $search-result-height;
        overflow-y: scroll;

        .movy-search-result-item {
            height: $search-result-item-height;
            padding: $movy-search-result-item-padding-vertical $movy-search-result-item-padding-horizontal;
            position: relative;

            color: $main-text-color;
            background-color: $item-background-color;
            border-bottom: $movy-search-result-item-border-size solid $grey;

            .movy-poster {
                position: relative;
                display: inline-block;

                img {
                    height: $search-result-poster-height;
                }
            }

            .movy-details {
                display: inline-block;
                padding: 0 5px;
                position: absolute;
            }

            .movy-add {
                background-color: $green;
                float: right;
                height: 26px;
                padding: 3px;
            }

            &:hover {
                background-color: $grey;
            }
        }
    }
}
