.movy-grid-item {
    background-color: $black-dark;
    padding: 20px;
    margin-bottom: 5px;

    /*margin: 0 $grid-item-margin;*/
    /*padding: $grid-item-padding;*/

    display: inline-block;
    color: $main-text-color;

    .movy-poster-container {
        display: block;
        position: relative;

        .movy-control {
            top: 0;
            position: absolute;
            border: none;
            visibility: hidden;
        }

        &:hover {
            .movy-control {
                visibility: visible;
            }
        }

        .movy-remove {
            right: 0;
        }

        .movy-check {
            left: 0;
            background-color: $green;
        }

        .movy-fav {
            left: 35px;
            background-color: $yellow;
        }

        .movy-check,
        .movy-fav {
            opacity: 0.5;

            &.movy-active {
                opacity: 1;
            }
        }

    }

    .movy-infos {
        width: 185px;
    }
}
