.movy-grid-item {
    display: inline-block;
    color: $main-text-color;
    background-color: $item-background-color;

    margin-bottom: $main-margin;
    margin-right: 5px;
    padding: $main-padding;

    width: $movy-grid-item-width ;

    .movy-poster {
        position: relative;

        .movy-remove {
            @extend .movy-control;

            position: absolute;
            top: 0;
            right: 0;

            background-color: $color-danger;
        }

        .movy-check {
            @extend .movy-control;

            position: absolute;
            top: 0;
            left: 0;

            background-color: $green;
            visibility: hidden;

            &.movy-active {
                visibility: visible;
            }
        }

        &:hover {
            .movy-check {
                visibility: visible;
            }
        }
    }

    .movy-title,
    .movy-release-date {
        @include text-ellipsis();
    }
}
