.movy-grid-item {
    display: inline-block;
    color: $main-text-color;
    background-color: $item-background-color;

    margin-bottom: $main-margin;
    margin-right: 5px;
    padding: $main-padding;
    vertical-align: top;

    width: $movy-grid-item-width;

    .movy-poster {
        position: relative;
        min-height: $movy-grid-item-poster-min-height;

        .movy-remove {
            @extend .movy-control;

            position: absolute;
            top: 0;
            right: 0;

            background-color: $color-danger;
        }

        .movy-controls {
            display: table;
            position: absolute;
            top: 0;
            left: 0;
        }

        .movy-check {
            @extend .movy-control;

            background-color: $green;
            visibility: hidden;

            &.movy-active {
                opacity: 0.7;
                visibility: visible;
            }
        }

        .movy-star {
            @extend .movy-control;

            background-color: $yellow;
            visibility: hidden;

            &.movy-active {
                opacity: 0.7;
                visibility: visible;
            }
        }

        &:hover {
            .movy-check,
            .movy-star {
                visibility: visible;
            }

        }
    }

    .movy-title,
    .movy-release-date {
        @include text-ellipsis();
        text-align: center;
    }
}
