.movy-filter {
    margin-bottom: $main-margin;

    .movy-clear {
        @extend .movy-control;
    }

    .movy-sort {
        @extend .movy-control;
    }
}

.movy-filter label {
    color: $main-text-color;
}

.movy-filter input,select {
    color: black;
}
