.movy-search {
    padding: $main-padding;

	.movy-search-form {
		margin-bottom: $main-margin;

        .movy-clear {
            @extend .movy-control;
        }
	}

	.movy-search-result-item {
		color: $main-text-color;
		background-color: $item-background-color;

		padding: $main-padding;
		margin-bottom: $main-margin;

		.movy-poster {
			position: relative;
			display: inline-block;

			.movy-add {
                @extend .movy-control;

				position: absolute;
				top: 0;
				right: 0;

				background-color: $color-success;
			}
		}
	}
}
