.movy-details {
    background-color: $black-dark;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px $grey;

    margin: 20px auto;
    padding: $main-padding;
    width: 50%;

    .movy-label {
        font-weight: bold;
    }
}
