.movy-search {
    padding: $main-padding 0;
    color: $main-text-color;

    .movy-search-results {
        overflow-y: auto;
        max-height: 800px;
    }

    .movy-search-result-item {
        margin: 2px 0;
        background-color: $black-dark;

        img.movy-poster {
            height: 100px;
        }

        .movy-infos {
            padding: 5px 0 0 8px;
        }
    }
}
