/* {{{ Colors */

$main-text-color: white;

$main-background-color: #1e1e1e;
$item-background-color: #121212;

$color-success: #3c763d;
$color-danger: #c9302c;

/* }}} */
/* {{{ Dimensions */

$main-padding: 20px;
$main-margin: 10px;

$control-button-font-size: .6em;

$movy-list-item-width : 185px;

/* }}} */
