/* {{{ Colors */

$black-dark: #121212;
$black-light: #1e1e1e;
$green: #3c763d;
$grey: #333333;
$red: #c9302c;
$yellow: #8a6d3b;

$main-text-color: white;

$main-background-color: $black-light;
$item-background-color: $black-dark;
$login-background-color: #f5f5f5;
$signup-background-color: $login-background-color;

$color-success: $green;
$color-danger: $red;

/* }}} */
/* {{{ Dimensions */

$main-padding: 20px;
$main-margin: 10px;

$control-button-font-size: .6em;

$movy-grid-item-width: 185px;
$movy-grid-item-poster-min-height: 282px;

$movy-search-result-item-border-size: 1px;
$movy-search-result-item-padding-horizontal: 5px;
$movy-search-result-item-padding-vertical: 10px;
$search-result-item-height: 64px;
$search-result-poster-height: 64px;

$search-result-height: (
    $movy-search-result-item-border-size
  + $movy-search-result-item-padding-vertical * 2
  + $search-result-item-height
)*8;

$login-form-width: 250px;
$login-form-height: 200px;
$signup-form-width: $login-form-width;
$signup-form-height: $login-form-height;
/* }}} */
