/* {{{ Colors */

$green: #3c763d;
$yellow: #8a6d3b;
$red: #c9302c;
$grey: #333333;

$main-text-color: white;

$main-background-color: #1e1e1e;
$item-background-color: #121212;

$color-success: $green;
$color-danger: $red;

/* }}} */
/* {{{ Dimensions */

$main-padding: 20px;
$main-margin: 10px;

$control-button-font-size: .6em;

$movy-grid-item-width : 185px;

$movy-search-result-item-border-size: 1px;
$movy-search-result-item-padding-horizontal: 5px;
$movy-search-result-item-padding-vertical: 10px;
$search-result-item-height: 64px;
$search-result-poster-height: 64px;

$search-result-height: (
    $movy-search-result-item-border-size
  + $movy-search-result-item-padding-vertical * 2
  + $search-result-item-height
)*8;

/* }}} */
