@import 'variables';
@import 'mixins';

@import 'base';

.movy-login {
    @include center($login-form-width, $login-form-height);

    background-color: $login-background-color;
    border-radius: 5px;
    padding: 20px;
}
