@import 'variables';
@import 'mixins';

@import 'base';
@import 'menu';
@import 'movy-details';
@import 'movy-filter';
@import 'movy-grid';
@import 'movy-pager';
@import 'movy-search';
@import 'movy-table';

.movy-content {
    padding: 20px;
}

.movy-control {
    padding: 8px;
    height: 36px;
}
