@import 'variables';
@import 'mixins';

@import 'alert';

@import 'movy-filter';
@import 'movy-list';
@import 'movy-pager';
@import 'movy-search';

html,
body {
    background-color: $main-background-color;
}

.movy-content {
    padding: 20px;
}

.movy-control {
    padding: 8px;
    height: 36px;
}
