@import 'variables';
@import 'mixins';

@import 'base';

.movy-signup {
    @include center($signup-form-width, $signup-form-height);

    background-color: $signup-background-color;
    border-radius: 5px;
    padding: 20px;
}
