APP_HOSTNAME="localhost"
APP_PORT=3000
APP_PROTOCOL="http"

TMDB_API_KEY="YOUR_API_KEY"
TMDB_POSTER_BASE_URL="https://image.tmdb.org/t/p/"
TMDB_POSTER_SIZE="w185"
TMDB_SMALL_POSTER_SIZE="w92"

DEFAULT_POSTER="/default.png"
LOCAL_POSTER_BASE_URL="/img/poster/"

STORE_FILENAME="store.db"
