.pure-g
  .pure-u-1
    form.pure-form.movy-filter
      input(ng-model="$ctrl.store.filter.title" type="text" placeholder="Title...")
      button.pure-button(type="button" ng-click="$ctrl.clear()")= "x"
