.movy-filter
  .pure-g
    .pure-u-2-5
      form.pure-form
        input(ng-model="$ctrl.filter.title" type="text" placeholder="Title...")
        button.pure-button.movy-clear(type="button" title="Clear" ng-click="$ctrl.clear()")
          img(src="/img/icon/ic_clear_black_18dp.png")

    .pure-u-2-5
      movy-sort-control(
        movy-filter="$ctrl.filter"
      )

    .pure-u-1-5
      form.pure-form.pure-form-stacked
        label
          span= "Starred"
          input(ng-model="$ctrl.filter.starred" type="checkbox")

        label
          span= "Watched"
          input(ng-model="$ctrl.filter.watched" type="checkbox")
