.movy-filter
  .pure-g
    .pure-u-2-5
      form.pure-form
        input(ng-model="$ctrl.filter.title" type="text" placeholder="Title...")
        button.pure-button.movy-clear(type="button" ng-click="$ctrl.clear()")
          img(src="/img/icon/ic_clear_black_18dp.png")

    .pure-u-2-5
      movy-filter-sort-control(
        movy-filter="$ctrl.filter"
      )
