.row
  .col-md-5.col-sm-12
    include includes/movy-form.template.pug

  .col-md-5.hidden-sm-down
    movy-sort-control(
      movy-filter="$ctrl.filter"
    )

  .col-md-2.hidden-sm-down
    include includes/movy-flags.template.pug
