.movy-search-result-item
  .row
    .col-md-3
      img.movy-poster(ng-src="{{ $ctrl.movie.small_poster_url }}" title="{{ $ctrl.movie.title }}")

    .col-md-7
      .movy-infos
        .text-truncate(title="{{ $ctrl.movie.title }}")
          | {{ $ctrl.movie.title }}

        .text-truncate(title="{{ $ctrl.movie.release_date }}")
          | ({{ $ctrl.movie.release_date }})

    .col-md-2
      button.btn.btn-sm.btn-primary.float-xs-right(
        type="button"
        title="Add"
        ng-click="$ctrl.onAdd()"
        ng-disabled="{{ $ctrl.isInStore() }}"
      )
        img(src="/img/icon/ic_add_circle_white_18dp.png")
