html,
body {
    background-color: #1e1e1e;
}

.movy-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    text-align: center;
}

.movy-list {
    padding: 20px;
}

.movy-search {
    padding: 20px;
}

.movy-list-item {
    display: inline-block;
    color: white;
    background-color: #121212;

    padding: 20px;
    margin-right: 5px;
    margin-bottom: 10px;

    width: 185px;
}

.movy-search-form {
    margin-bottom: 10px;
}

.movy-search-result-item {
    color: white;
    background-color: #121212;

    padding: 20px;
    margin-bottom: 10px;
}

.alert-info {
    border: 1px solid;
    border-radius: 5px;

    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;

    padding: 10px;
}
