.movy-infos
  .text-xs-center.text-truncate(title="{{ $ctrl.movie.title }}")
    | {{ $ctrl.movie.title }}

  .text-xs-center.text-truncate(title="{{ $ctrl.movie.release_date }}")
    | ({{ $ctrl.movie.release_date }})
