movy-grid-item(
  movie="movie"
  movy-on-remove="$ctrl.onRemove({ movie: movie })"
  movy-on-update="$ctrl.onUpdate({ movie: movie, patch: patch })"
  ng-repeat="movie in ($ctrl.movies \
  | filter  : { title: $ctrl.filter.title } \
  | orderBy : $ctrl.filter.order.property : $ctrl.filter.order.reverse \
  | limitTo : $ctrl.pager.limit : (($ctrl.pager.current - 1) * $ctrl.pager.limit)) as filteredMovies"
)

.alert-info(ng-show="$ctrl.movies.length === 0")
  = "Your list is empty."

.alert-info(ng-show="$ctrl.filter.title.length > 0 && filteredMovies.length === 0")
  = "Nothing found."
