movy-grid-item(
  movie="movie"
  ng-repeat="movie in ($ctrl.movies \
  | orderBy : $ctrl.filter.order.property : $ctrl.filter.order.reverse \
  | limitTo : $ctrl.pager.limit : (($ctrl.pager.current - 1) * $ctrl.pager.limit)) as filteredMovies"
)

.alert-info(ng-show="$ctrl.movies.length === 0")
  = "Your list is empty."

.alert-info(ng-show="$ctrl.filter.title.length > 0 && filteredMovies.length === 0")
  = "Nothing found."
