.pure-g
  .pure-u-1
    movy-filter

.pure-g
  .pure-u-1
    .movy-list
      movy-list-item(
        movie="movie"
        on-remove="$ctrl.onRemove(movie)"
        on-update="$ctrl.onUpdate(movie, patch)"
        ng-repeat="movie in ($ctrl.store.movies \
        | filter : { title: $ctrl.store.filter.title } \
        | orderBy : $ctrl.store.filter.order.property : $ctrl.store.filter.order.reverse) as filteredMovies"
      )

    .alert-info(ng-show="$ctrl.store.movies.length === 0")
      = "Your list is empty."

    .alert-info(ng-show="$ctrl.store.filter.title.length > 0 && filteredMovies.length === 0")
      = "Nothing found."
