.movy-search-results
  .pure-g(ng-repeat="movie in $ctrl.results")
    .pure-u-1
      movy-search-result-item(movie="movie")

  .pure-g(ng-show="$ctrl.results.length === 0")
    .pure-u-1
      .alert-info
        = "No results."
