doctype html
html(ng-app="movyApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="https://unpkg.com/purecss@0.6.0/build/pure-min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
  body
    include includes/menu.pug
    div(ng-view)

    - var ext = (env === 'production') ? '.min.js' : '.js';
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular" + ext)
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource" + ext)
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route" + ext)
    script(type="text/javascript" src="/js/bundle" + ext)
