doctype html
html(ng-app="movyApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="https://unpkg.com/purecss@0.6.0/build/pure-min.css" rel="stylesheet")
    link(href="/css/login.css" rel="stylesheet")
  body
    .pure-g
      .pure-u-1
        form.pure-form.pure-form-stacked.movy-login(action='/login' method="post")
          label
            span= "Username"
            input.movy-username(type="text" name="username" required)

          label
            span= "Password"
            input.movy-password(type="password" name="password" required)

          button.pure-button(type="submit")= "Login"

        = message
