.movy-search
  .row
    .col-md-12
      movy-search-form(on-submit="$ctrl.onSubmit(text)" on-clear="$ctrl.onClear()")

  .row
    .col-md-12
      movy-search-result(ng-show="$ctrl.results.length > 0" results="$ctrl.results")

      .alert.alert-info(ng-show="!$ctrl.loading && $ctrl.results.length === 0")
        = "No results."

      .alert.alert-info(ng-show="$ctrl.loading")
        = "Loading..."
